.pagination {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    display: flex;
    gap: 10px;
}

.pagination__container {
    display: flex;
    gap: 5px;
}

.pagination__prev, .pagination__next, .pagination__page {
    background-color: red;
    border-radius: 7px;
    width: 35px;
    aspect-ratio: 1;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination__active {
    background-color: red;
    color: white;
    border-radius: 5px;
}


